<%title "Rob Conery's Resume"%>
<div id="feature" class="column span-15 colborder">
    <h1>Rob Conery's Resume</h1>
    <p class="large">
        I have been working with computers for the last 32 years and I have a passion (bordering
        on obsession) for learning as much as I can about programming them. I am proud to
        be considered a thought leader in my industry and I am deeply grateful for the respect
        I've earned from my peers.
    </p>
    <p class="large">
        My focus over the last 5-6 years has centered around giving back what I've learned
        in the form of educational blog posts, screencasts, and the creation of Open Source
        tools. My pride and joy has been <a href="http://subsonicproject.com" target="_blank">
            SubSonic</a>, a data access tool that is focused on simplicity and elegance
        as well as the <a href="/tags/mvc-storefront">MVC Storefront</a>, a 26-part video
        series that shows developers various ways to build a web application using Microsoft
        Tools.
    </p>
    <p class="large">
        My major strength is my ability to communicate concepts both to clients as well
        as other developers - a skill many people equate with project management. I've often
        stated that "I'm not a programmer" as I've identified what I do more in terms of
        art, rather than engineering.
    </p>
    <h2>
        Skills</h2>
        <ul>
            <li>Microsoft Web Stack (ASP/ASP.NET MVC)</li>
            <li>Ruby On Rails</li>
            <li>SQL Server, MySQL, SQLite</li>
            <li>OLAP/Data Mining using Microsoft Analysis Toolset</li>
            <li>Subversion, Git</li>
        </ul>
    <h2>
        Career History</h2>
    <div class="section-head">
        Contractor/Senior Program Manager - Microsoft: April 2007 - August, 2009</div>
    <p>
        Worked very closely with the ASP.NET MVC team to deliver content and examples for
        the (at that time) new web framework from Microsoft. My first responsibility what
        the creation of the HTML Helpers, a set of tools to help developers create HTML
        tags using C# or VB.NET code. I moved into a Community Manager position during the
        latter part of my tenure where my responsibilities focused on speaking, creating
        video tutorials, and writing informative blog posts.
    </p>
    <div class="section-head">
        Independent Contractor/Technical Trainer: February 2003 - April 2007</div>
    <p>
        Worked with a variety of clients building web applications using ASP.NET. These
        applications included intranet commerce applications, voice-recognition call simulators,
        data mining applications, and online training tools. Clients included:
        <ul>
            <li>Microsoft</li>
            <li>PayPal/Ebay</li>
            <li>KLA-Tencor</li>
            <li>Starbucks</li>
            <li>SBC/Ameritech/Pacific Bell</li>
            <li>Accel Venture Partners</li>
        </ul>
    </p>
    <div class="section-head">
        Senior Developer - Attensity Corporation: June 2001 - February 2003</div>
    <p>
        Designed, built, and maintained OLAP Web Analysis reporting tool for the Attensity
        Software platform; managed client relationships, and designed/maintained a Sharepoint
        2003 Intranet application for this mid-size software firm. Key technologies include
        Cognos PowerPlay, MS Analysis Services, ASP.NET using C#, SQL Server 2000.
    </p>
    <div class="section-head">
        Technical Director/Founder - Persistent Web: October 1997 - June 2001</div>
    <p>
        Co-founded this 20-person software development company that focused on emerging
        web technologies. Clients included start-ups and Fortune 50 Companies. Responsibilities
        were: client strategy, lead technical management and scoping efforts, enable and
        train technical staff, manage and architect larger projects. Key Projects for Persistent
        (all using ASP, COM+, and SQL Server 2000):
        <ul>
            <li>Pulse3d Inc., Site Upgrade and Commerce Enablement (2000) http://www.pulse3d.com
                Architected and Developed the Pulse Developer’s Network as well as the Pulse Online
                Licensing Store using SiteServer/CommerceServer 3.0. Specific technical features
                include a message board developed in VB/ASP, full knowledge-base search using IndexServer,
                and customer support.
                <li>ParentWatch Inc., Application Development, New York, NY, (1999/2000) http://www.parentwatch.com
                    Involved at all phases of this project not just as a consultant, but also as a partner,
                    strategizing and designing every technical element of their site (with the exception
                    of video services) from inception through $30M Round C funding. As the company grew,
                    I became more deeply involved in their enterprise, integrating 3rd party CRM and
                    accounting packages, and developing statistical reporting tools (Crystal Reports
                    with OLAP/ASP) to report on the behavior of their subscribers.
                    <li>
            SBC/Ameritech, Inc., Pegasus Knowledge Management Portal, Hoffman Estates, IL (1998)
            Provided architecture, design, development, and management services for this $5.3
            Million internal project for Ameritech. The project was code-named "Pegasus" and
            is a real-time, intranet-based, knowledge management system. The focus of Pegasus
            is to allow immediate access to more than 25,000 documents of company procedures
            (pulled from multiple legacy databases and outside data sources) for use during
            customer calls.
        </ul>
    </p>
    <h2>
        Publications</h2>
    <div class="section-head">
        <a href="http://www.amazon.com/Professional-ASP-NET-MVC-1-0-Conery/dp/0470384611">Professional
            ASP.NET MVC 1.0</a> - Lead Author</div>
    <p>
        Co-wrote "the book" on ASP.NET MVC along with Scott Guthrie, Scott Hanselman, and
        Phil Haack.
    </p>
    <div class="section-head">
        <a href="http://oreilly.com/catalog/9780596007515/">PayPal Hacks</a> - Contributing
        Author</div>
    <p>
        Contributed 8 chapters to this book dealing with various ways to work with the PayPal
        API.
    </p>
    <h2>
        Honors</h2>
    <div class="section-head">
        Named to <a href="http://codeplex.org" target="_blank">Codeplex Foundation</a> Board
        of Advisors</div>
    <p>
        Asked to serve on the Board of Advisors for the Codeplex Foundation - an OSS foundation
        initially sponsored by Microsoft.
    </p>
    <div class="section-head">
        Microsoft MVP 2004, 2005, 2006, 2007, 2009</div>
    <p>
        Awarded Microsoft's top community honor for my work with Open Source.
    </p>
    <div class="section-head">
        PayPal Star Developer, 2006</div>
    <p>
        Awarded this honor for my work with the PayPal community with the Commerce Starter
        Kit.
    </p>
    <p>
    </p>
    <h2>
        Notable Speaking Engagements</h2>
    <div class="section-head">
        MIX06 - Speaker</div>
    <p>
        Delivered a session based on my work creating the Commerce Starter Kit (joint project
        for Microsoft and PayPal)</p>
    <div class="section-head">
        MIX07 - Speaker</div>
    <p>
        Sat on a panel which discussed Open Source and Microsoft. Panelists included Miguel
        DeIcaza (GNOME), Mike Shroepfer (Chief Engineer, Mozilla), Andi Gutmans (Zend)</p>
    <div class="section-head">
        MIX08 - Speaker</div>
    <p>
        Continuation of panel from MIX07 on Open Source and Microsoft. Panelists included
        Miguel DeIcaza (GNOME), Mike Shroepfer (Chief Engineer, Mozilla), Andi Gutmans (Zend)</p>
    <div class="section-head">
        <a href="http://videos.visitmix.com/MIX09/T62F" target="_blank">MIX09 - Speaker</a></div>
    <p>
        Spoke about ASP.NET MVC and some different approaches that can be used when developing
        an application</p>
    <div class="section-head">
        DevConnections 2007 - Speaker</div>
    <p>
        Sat on a panel with Phil Haack and Scott Hanselman discussing Open Source and the
        Microsoft platform.</p>
    <h2>
        Education</h2>
    <p>
        UC Santa Barbara, 1992- BS Geological Sciences, minor in Computer Science
    </p>
    <h2>
        Interests</h2>
    <p>
        I love anything to do with the ocean and the water and I surf as often as I possibly
        can. I am a certified Divemaster (NAUI) and I enjoy all outdoor sports including
        biking snowboarding, and golf. I am also an avid bird-watcher and backcountry hiker
        (remnants of my days as a geologist) and a father of two.
    </p>
</div>
<div class="column span-8 last">
    <div id="home_right">
        <div >
            <img src="/content/images/headshot.jpg" />
        </div>
        
        <p class="quote">
            You're so awesome I just can't hug you enough!<br />
            -<b>Miguel De Icaza</b>, Creator of GNOME
        </p>            
        
        <p class="quote">
            Did I ever tell you that you're a ROCK STAR?<br />
            -<b>Brian Goldfarb</b>, Director - Microsoft
        </p>
                    
        <p class="quote">
            You are in the unique, and most coveted, position of being respected not only by
            the management here and your peers on this project, but our users think you are
            a genius which is pretty hard to do - you have contributed huge value here
            <br />
            -<b>Rob Koehler</b>, Senior Director,  SBC
        </p>
        <p class="quote">
            You have single-handedly changed the way we do ... well everything here at my office.
            That's not an easy thing to do. Watching the MVC Storefront is now mandatory for
            all developers on our team. I can't possibly thank you enough...
            <br />
            -<b>Steve Landstrom</b> (Company Witheld)
        </p>
        <p class="quote">
            Thank you so much Rob for putting [the MVC Storefront] out there... I have been
            waiting for this, I have always thought that there are two type of screen casts:
           <br /><br />
           1 - The screen cast from an amateur trying his best to seem like a professional producer
                    (and some pull it off)<br />
           2 - The screen cast that just shows the process, the thoughts, every mistype, error,
                    and idiosyncrasy of the process<br />
           <br /> <br />
            Personally, I like the second screen cast, because in the end, we are all human,
            and we all care about the process because I think we all right bad code and want
            to feel like others do it as well. <br />
            -<b>Ryan Keeter</b>
        </p>
        </p>
        <p class="quote">
            Outstanding Rob! Keep showing us the full path you took to get where you are. The
            journey is invaluable. I am one of those 40 year old guys that have a lot of "old
            style" built in and this really shows the light. I hope to give the full series
            to my team once you have a versioned product. 
            <br />-<b>Rick Austin</b>
        </p>
        <p class="quote">
            Rob, can I give you a hug?<br />
            -<b>Boris Callens</b>
        </p>
        <p class="quote">
            I have seen that you are totally committed to the success of the [Flight Simulator]
            application and this project. You are a professional and I value your communication
            style. I have no doubt that [the application] will exceed all expectations<br />
            -<b>Ron Rounick</b>, Senior Director, SBC
        </p>
        <p class="quote">
            Theresia, Alan, and even Jim were very impressed and happy with the early work to
            date. You did a great job of listening to our needs and thinking about how to solve
            them thanks again
            <br />
            -<b>Jerry Chen</b>Senior Partner Accel Partners
        </p>
        
    </div>
</div>